*{
    scroll-behavior:smooth;
}

.app {
  min-height: 100vh;
  background-color: #39445a;
  color: white; /* color of text inside app is white */
  padding-top: 130px;
  padding-bottom: 70px;
}

@media (max-width: 700px) {
  .app {
    padding-top: 85px;
  }
}

.PageTitle {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 2vw;
  padding: 3px;
  border-radius: 50px;
  color: white;
}

@media (max-width: 1000px){
    .PageTitle{
        font-size: 6.4vw;
    }
}
